click==8.0.4
Flask==2.0.3
Flask-JWT-Extended==4.3.1
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql-connector-python==8.0.26
protobuf==3.19.4
PyJWT==2.3.0
python-dotenv==0.19.2
Werkzeug==2.0.3
