<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/cwtexyen.css">
    <link rel="stylesheet" href="{{url_for('fetch.static',filename='index.css')}}">
</head>
<body>
    <div class="section-1">
        <div class="nav">
            <div class="header-1">
                台北一日遊
            </div>
            <div class="header-2">
                <div class="schedule">預定行程</div>
                <div class="login">登入<span style="font-size: 
                    16px;">/</span>註冊</div>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="container">
            
            <div class="search">
                <span>輕鬆享受台北一日悠閒</span><br/>
                <span>探索每個角落，體驗城市的深度旅遊行程</span>                
                <input type="text" placeholder="輸入景點名稱查詢" id="que"/><div id="btn">
                    <img src="/static/icon_search.png"/>
                </div>  
            </div>
            <img src="/static/welcome1.png"/>
        </div>
    </div>
    <div class="section-3" id="sights">
        <div class="outer" id="out">
        </div>
    </div>
    <div class="section-4">
        <span>COPYRIGHT © 2021 台北一日遊</span>
    </div>
    <script type="text/javascript" src="{{url_for('fetch.static',filename='index.js')}}"></script>
</body>
</html>