<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/cwtexyen.css">
    <link rel="stylesheet" href="{{url_for('fetch.static',filename='/css/header_footer.css')}}">
    <link rel="stylesheet" href="{{url_for('fetch.static',filename='/css/sign.css')}}">
    <link rel="stylesheet" href="{{url_for('book.static',filename='/css/thankyou.css')}}">
    <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
</head>
<body>
    <div class="section-1">
        <div class="nav">
            <div class="header-1">
                台北一日遊
            </div>
            <div class="header-2">
                <div class="schedule">預定行程</div>
                <div class="login">

                </div>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="order-result-container">
            <div class="order-result">
                <!--
                <div style="text-align: center;">付款成功，感謝您的訂購</div>
                <div style="text-align: center;">您的訂單編號為:12312423423</div>
                <div style="text-align: center;">請記住此訂單編號，以便查詢訂單</div>
                <div style="text-align: center;">感謝您～</div>-->
            </div>     
        </div>         
    </div>            
           
    <div class="section-4">
        <span>COPYRIGHT © 2021 台北一日遊</span>
    </div>
    <script type="text/javascript" src="{{url_for('fetch.static',filename='/js/sign.js')}}"></script>
    <script type="text/javascript" src="{{url_for('book.static',filename='/js/thankyou.js')}}"></script>
</body>
</html>