/**section2部份**/
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    /**border: 2px solid red;**/
    color: #666666;
}

.order-result-container{
    box-sizing: border-box;
    width:1200px;
    flex:none;
    /*height不用設*/
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 40px;
   /** border:1px purple dashed;  **/
}

.order-result{
    flex: none;
    box-sizing: border-box;
    width: 990px;
   /** border:2px yellow dashed; **/
}

.thankyou{
    text-align: center;
    line-height: 24px;
}



@media(max-width:1200px){
    .order-result-container{
        width:100%;
    }
    .order-result{
        width:95%;
    }
}

@media(max-width:800px){
    .order-result-container{
        padding-bottom: 65px;
    }
}