/*body margin設為0*/
body{
    margin: 0px;
    font-family:"Noto Sans TC", sans-serif;
    position: relative;
    min-height: 100vh;
}
/*section1的部分*/
.section-1{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    position:fixed;/*如果設定absolute or fixed會跳脫頁面所以寬度會變成以內容為主所以要設定width:100% ,另外fixed是相對viewport/absolute是相對外層有無設定relative | absolute | fixed | inherit,若無則以body為基準*/
    top:0px;/*定在頁面上方*/
    background: white; /*要設定白色要不然往下滑時,下面的內容會透過去選單列*/
    z-index: 2;/*選單列蓋過下面所有內容*/
    
}
/*選單列外容器*/
.nav{
    width:1200px;
    flex:none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    
}
.header-1{
    flex:none;
    width:150px;
    font-size:30px;
    font-weight:bold;
    color: #448899;
    margin-right: 10px;
    margin-left: 10px;
}
.header-2{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#666666;
    font-size:16px;
    font-family:"Noto Sans TC", sans-serif;
}

.header-2 span{
    font-size:16px;
}

.login,.schedule{
    flex: none;
}
.schedule{
    margin-right: 20px;
}
.login{
    margin-right: 10px;
}

/*section2的部分*/
.section-2{
    margin-top: 60px;/*要設一個margin才不會跟頂部固定的選單列重疊*/
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
      
}

.container{
    width:1200px;
    flex:none;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.search{
    color:#F8F8F8;
    flex:none;
    width:470px;
    position:relative;
    z-index: 1;
    margin-left: 10px;
}

.search> span:nth-of-type(1){
    font-size:28px;
}

.search> span:nth-of-type(2){
    display:block;
    font-size:16px;
    margin-top:15px;
}

.search>input{
    box-sizing: border-box;
    display:inline-block;
    vertical-align:middle;
    height:46px;
    width:400px;
    margin-top:25px;
    padding:15px;
    border-radius: 2px;
    border:#AABBCC;
}

.search div{
    vertical-align:middle;
    display:inline-block;
    background-color: #448899;
    height:46px;
    width:60px;
    border-radius:2px;
    margin-top:25px;
    text-align: center;
}

.search img{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.container > img{
    display:block;
    position:relative;
    left:130px;
    z-index: 0;
    flex:none;
    width:650px;
}



@media(max-width:1200px){
    .nav{flex:auto};/*小於1200px時,選單列寬度要跟螢幕一樣*/
    .header-1{margin-left: 10px}
    .container{width:100%}
   
}

@media(max-width:1000px){
    .container{
        height:280px;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .container > img{
        width:60%;
        left:0px;
    }
    .search{
        top:-50%;
        transform: translateY(50%)
    }
}

@media(max-width:800px){
    .container>img{
        left:-150px;
        width:60%;
    }
    .search{
        width:65%
    }
    .search>input{
        width:75%
    }
}

@media(max-width:600px){
    .container > img{
        left:-165px;
        width:85%;
    }
    .search{
        width:85%;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
    }
    .search>input{
        width:75%
    }
}

@media(max-width:360px){
    .search{
        width:88%;
    }
    .search>input{
        width:230px;
    }

}

/*景點顯示部分*/
#sights{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 104px;
    
}
.outer{
    /*border:1px solid black;*/
    flex:none;
    width:1170px;
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;  
    margin-top:55px;
    margin-bottom:55px;
}

.inner{
    border:1px solid #ECF0F1;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.mark{
    /*border:1px solid red;*/
    width:100%
}




.inner img{
    display:block;
    aspect-ratio:1.675;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    width:100%;
} 

.txt{
    width:100%;
    font-size: 16px;
    color:#757575;
    
}

.t2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;

}

.t2>span{
    flex:auto;
    /*border:0.5px solid green;*/
    display:block;
    
}

.t1{
    box-sizing: border-box;
    width:100%;
    margin-top: 13px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.t2{
    margin-bottom: 12px;
}

.t2>span:nth-of-type(1){
    padding-left: 10px;
}


.t2>span:nth-of-type(2){
    text-align: right;
    padding-right: 10px;
}

/*圖片部分rwd*/
@media(max-width:1200px){
    .outer{
    width:90%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px; 
    padding-left: 5px;
    padding-right: 5px;
    }
}

@media(max-width:700px){
    .outer{
        grid-template-columns: 1fr;  
    }
}

.section-4{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    color:#FFFFFF;
    font-weight: bold;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    position:absolute;
    bottom:-104px;
    width:100%;   
}
.section-4>span{
    flex: none;
    display: block;
}

#btn:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px #448899;
}